{% extends 'base.html' %}
{% load static %}

{% block content %}
<section>
  <article>
    <!-- Add your code in the line below  -->
    <h1> Make a reservation </h1>

    <!--Begin row-->
    <div class="row">
      <!--Begin col-->
      <div class="column">
        <p>Booking Successful!</p>
      </div>
      <!--End col-->


    </div>
    <!--End row-->




  </article>
</section>
<!-- Add your code inside the script tags below  -->
<script>
  console.log('hello')
  document.getElementById('id_reservation_date').filter(type='date')
</script>
{% endblock %}

